$white: #ffffff;
$white-80: #ffffff80;
$white-50: #ffffff50;
$white-10: #ffffff10;
$white-fff: #ffffff1a;
$black: #000000;
$black-080: #080000e8;
$black-1: #00000001;

$grey-212: #212834;
$grey-bfb: #bfbfbf;
$grey-5c5: #5c5c5c;

$grey-212: #212834;

$blue-605: #605cea80;
$blue-006: #0066ff;
$blue-1a5: #1a5fac;
$blue-1a5-90: #1a5fac90;

$purple: #f101bf;
$purple-fa0: #fa00ff33;

$red-ff0: #ff0000;
$red-ff0-90: #ff000090;

$anim: all 0.2s linear;
