$white: #ffffff;
$white-80: #ffffff80;
$white-50: #ffffff50;
$white-10: #ffffff10;
$white-fff: #ffffff1a;
$black: #000000;

$grey-212: #212834;
$grey-bfb: #bfbfbf;
$grey-5c5: #5c5c5c;

$grey-212: #212834;

$anim: all 0.2s linear;
