@use '../../../assets/styles/internals/index';

.integration {
  padding-bottom: 24.6rem;

  background: url('../../img/integration-mb-bg.png') 50% 100% no-repeat;

  @media (min-width: 1439.99px) {
    padding-bottom: unset;
    margin-bottom: 19.3rem;

    background: none;
  }

  &__title {
    position: relative;
    z-index: 10;

    max-width: 50rem;
    margin-bottom: 2.4rem;

    @include title-24;

    @media (min-width: 1439.99px) {
      margin-bottom: 3.1rem;

      @include fontz(5.1rem, 1.215, $white);
    }
  }

  &__text {
    margin-bottom: 3rem;

    @include text-16;
    letter-spacing: 0.04rem;

    @media (min-width: 1439.99px) {
      position: relative;
      z-index: 10;

      max-width: 39.5rem;

      @include fontz(1.8rem, 1.388, $white);
    }
  }

  &__left {
    @media (min-width: 1439.99px) {
      position: relative;

      padding: 9.2rem 0 22rem;

      background: url('../../img/integration-desc-bg.png') 97.3% 0 no-repeat;

      &:before {
        content: '';
        position: absolute;
        top: -9rem;
        left: -19rem;

        width: 42.621rem;
        height: 43.835rem;

        background: linear-gradient(12.08deg, $purple 2.82%, $blue-006 97.06%);
        opacity: 0.1;
        filter: blur(12.5rem);
        transform: rotate(5.78deg);
      }
    }
  }

  &__chart {
    position: relative;

    & img {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--colorless {
      position: absolute;
      top: 46%;
      left: -13%;

      padding: 1.4rem;
      border: 0.035333rem solid $white-50;
      border-radius: 0.847992rem;
      width: 14.45rem;
      height: 8.62rem;

      & img {
        width: 11.704rem;
        height: 5.832rem;
      }
    }

    &--circle {
      position: absolute;
      top: 18.3%;
      left: 6%;

      width: 10.943rem;
      height: 2.128rem;
    }

    &--one {
      display: none;
    }

    &--two {
      position: absolute;
      top: 12%;
      left: 54%;

      width: 9.095rem;
      height: 5.518rem;
      border: 0.0289226rem solid $white-50;
      border-radius: 0.694141rem;
      padding: 1.1rem;

      & img {
        width: 6.911rem;
        height: 3.18rem;
      }
    }

    &--three {
      position: absolute;
      top: -1%;
      right: -6%;

      width: 8.562rem;
      height: 9.056rem;

      border: 0.0289226rem solid $white-50;
      border-radius: 0.694141rem;

      & img {
        width: 5.562rem;
        height: 6.286rem;
      }
    }

    &--four {
      position: absolute;
      top: 34%;
      right: 37%;

      width: 9.095rem;
      height: 5.518rem;
      border: 0.0289226rem solid $white-50;
      border-radius: 0.694141rem;

      & img {
        width: 7.268rem;
        height: 2.894rem;
      }
    }

    &--data {
      position: absolute;
      bottom: 12%;
      right: -35%;

      width: 29.6rem;
      height: 5.918rem;
    }
  }
}
