@use '../../../assets/styles/internals/index';

.mission {
  &__membership {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    margin-bottom: 11.2rem;

    @media (min-width: 767.99px) {
      justify-content: center;
      flex-direction: row;
      align-items: unset;
      column-gap: 4rem;
      margin-bottom: 15.8rem;
    }

    @media (min-width: 990.99px) {
      column-gap: 8rem;
      margin-bottom: 22.8rem;
    }
  }

  &__left,
  &__right {
    border: 2px solid $white-50;
    border-radius: 2.13671rem;
    padding: 3.8rem 4.3rem 3.7rem 3.1rem;
    max-width: 34.5rem;
    width: 100%;

    @media (min-width: 767.99px) {
      max-width: 40.5rem;
      padding: 4.6rem 6.4rem 4.8rem 4.4rem;
    }

    @media (min-width: 990.99px) {
      max-width: 50.5rem;
      padding: 6.6rem 12.4rem 5.8rem 5.4rem;
    }
  }

  &__right {
    @media (min-width: 767.99px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__text {
    margin-bottom: 2.9rem;

    @include title-24;
    font-family: inherit;
    letter-spacing: 0.06rem;
    line-height: 1.4;

    @media (min-width: 575.99px) {
      @include fontz(2.8rem, 1.366, $white);
    }

    @media (min-width: 767.99px) {
      @include fontz(3rem, 1.366, $white);
      letter-spacing: 0.07rem;

      &--right {
        margin-bottom: 3rem;
      }
    }
  }

  &__link {
    @include fontz(1.8rem, 1.38, $white);
    text-decoration-line: underline;

    @media (min-width: 767.99px) {
      @include fontz(2.4rem, 1.375, $white);
      letter-spacing: 0.09rem;

      &--right {
        margin-bottom: 1rem;
      }
    }
  }
}

.vision-mission {
  display: flex;
  flex-direction: column;

  @media (min-width: 767.99px) {
    align-items: center;
    row-gap: 10rem;
    margin-bottom: 14.8rem;
  }

  @media (min-width: 1199.99px) {
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 7rem;
    margin-bottom: 29.8rem;
  }

  &__left {
    display: flex;
    justify-content: center;
    order: 1;
    margin-bottom: 9.4rem;

    @media (min-width: 767.99px) {
      padding-top: 2rem;
      margin-bottom: unset;
      order: unset;
    }
  }

  &__right {
    margin-bottom: 16.1rem;

    @media (min-width: 400.99px) {
      margin: 0 auto 16.1rem;
    }

    @media (min-width: 767.99px) {
      position: relative;

      max-width: 35.8rem;
      padding-top: 1.2rem;
      margin: unset;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 7rem;

        width: 8.5rem;
        height: 8.5rem;

        background: $purple;
        opacity: 0.7;
        filter: blur(5rem);
        z-index: 1;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 10;

    margin-bottom: 2.4rem;

    @include title-24;

    @media (min-width: 767.99px) {
      margin-bottom: 2.1rem;

      font-size: 5.1rem;
      line-height: 6.2rem;
    }
  }

  &__promo {
    max-width: 30rem;

    @include text-16;
    letter-spacing: 0.05rem;

    @media (min-width: 767.99px) {
      max-width: 32rem;

      @include fontz(1.8rem, 1.388, $white);
      letter-spacing: 0.04rem;
    }
  }

  &__img-wrap {
    position: relative;

    &--mb {
      width: 17.253rem;
      padding-bottom: 34.612rem;

      @media (min-width: 767.99px) {
        display: none;
      }
    }

    &--desct {
      display: none;

      @media (min-width: 767.99px) {
        position: relative;
        left: -2rem;
        display: block;

        height: 35.8rem;
        width: 52.1rem;
      }

      @media (min-width: 990.99px) {
        left: -10rem;

        height: 50.8rem;
        width: 75.1rem;
      }
    }
  }
}
