@use '../../../assets/styles/internals/index';

.ordering {
  padding-top: 1.8rem;

  & .container {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 18rem;
      right: -16rem;

      width: 28.692rem;
      height: 26.717rem;

      background: linear-gradient(12.08deg, $purple 2.82%, $blue-006 97.06%);
      opacity: 0.2;
      filter: blur(12.5rem);
      transform: rotate(5.78deg);
      z-index: 1;
    }
  }

  &__wrap {
    position: relative;

    min-height: 55.2rem;

    background: url('../../img/phone-wrapped.png') center/contain no-repeat;

    @media (min-width: 1439.99px) {
      position: relative;
      z-index: 10;

      width: 100%;
      height: 103.821rem;
      margin: 0 auto;

      background: url('../../img/phone-wrapped.png') 56.5% 50% / contain no-repeat;
    }
  }

  &__head {
    @media (min-width: 1439.99px) {
      position: relative;
      z-index: 10;

      max-width: 48.1rem;
      margin-left: auto;
    }
  }

  &__title {
    max-width: 19.8rem;
    margin-bottom: 2.4rem;

    @include title-24;

    @media (min-width: 1439.99px) {
      max-width: unset;
      margin-bottom: 2.1rem;

      @include fontz(5.1rem, 1.215, $white);
    }
  }

  &__subtitle {
    @include text-16;

    @media (min-width: 1439.99px) {
      padding-left: 0.5rem;

      @include fontz(1.8rem, 1.388, $white);
      letter-spacing: 0.05rem;
    }
  }

  &__text {
    @include fontz(1.4rem, 1.2, $white);
    font-family: 'Roboto';
    font-weight: 500;

    @media (min-width: 1439.99px) {
      @include fontz(2.2rem, 1.2, $white);
    }
  }

  &__notice {
    position: absolute;

    display: flex;
    padding: 1.3rem 1.5rem;
    border: 0.076007rem solid $white-50;
    border-radius: 1rem;

    background-color: $black;

    @media (min-width: 1439.99px) {
      border-radius: 1.7rem;
    }

    &--cards,
    &--cards2 {
      max-width: 16.9rem;

      @media (min-width: 1439.99px) {
        border-radius: 1.7rem;

        letter-spacing: 0.03rem;
      }
    }

    &--cards {
      position: absolute;
      left: 6.6%;

      padding: 1rem 1rem 1rem 1.7rem;

      @media (min-width: 1439.99px) {
        left: 15%;
        top: 34.5%;

        max-width: 28.3rem;
        padding: 2.9rem 1rem 3rem 2.6rem;
      }
    }

    &--cards2 {
      top: 16%;
      right: -3.7%;

      padding: 1.2rem 1rem 1.3rem 1.7rem;

      @media (min-width: 1439.99px) {
        top: 19.6%;
        right: 23.2%;

        padding: 2.2rem 1rem 2.1rem 2.1rem;
        max-width: 26.7rem;
      }
    }

    &--split {
      bottom: 0%;
      right: -4%;

      max-width: 12.2rem;
      padding: 1.2rem 1rem 1.2rem 2rem;

      @media (min-width: 1439.99px) {
        bottom: 29.8%;
        right: 12%;

        max-width: 18.5rem;
        padding: 1.8rem 1rem 1.8rem 2.1rem;

        letter-spacing: 0.04rem;
      }
    }

    &--skip {
      bottom: 18%;
      left: 4%;

      max-width: 12rem;
      padding: 1.3rem 1.4rem 1rem 1.7rem;

      @media (min-width: 1439.99px) {
        bottom: 23.5%;
        left: 33%;

        max-width: 20.5rem;
        border-radius: 1.7rem;
        padding: 1.7rem 2.4rem 2rem 2.4rem;

        letter-spacing: 0.04rem;
      }
    }
  }
}
