@use '../../../assets/styles/internals/index';

.platform {
  margin-bottom: 6.9rem;

  @media (min-width: 1439.99px) {
    margin-bottom: 7rem;
  }

  &__wrap {
    display: flex;
    column-gap: 1.5rem;
    margin-bottom: 11.4rem;
    justify-content: flex-start;

    @media (min-width: 1439.99px) {
      position: relative;

      justify-content: space-between;
      margin-bottom: 8.3rem;

      &:before,
      &:after {
        content: '';
        position: absolute;

        width: 66.263rem;
        height: 78.303rem;

        filter: blur(12.5rem);
      }

      &:before {
        top: -29rem;
        right: -16rem;

        background: $purple-fa0;
        transform: rotate(-105.26deg);
      }

      &:after {
        top: 13rem;
        right: 16rem;

        background: $black-080;
      }
    }
  }

  &__title {
    max-width: 20.7rem;
    margin-bottom: 2.1rem;

    @include fontz(3.5rem, 1.142, $white);
    font-family: 'Montserrat';
    font-weight: 700;

    @media (min-width: 1439.99px) {
      max-width: 65rem;
      margin-bottom: 12.4rem;

      @include fontz(6.4rem, 1.09, $white);
    }
  }

  &__text {
    max-width: 24rem;

    @include text-16;
    letter-spacing: 0.06rem;

    @media (min-width: 1439.99px) {
      position: relative;

      padding-left: 10.5rem;
      max-width: 48rem;

      @include fontz(2rem, 1.35, $white);

      &:before {
        content: '';
        position: absolute;
        left: 8%;
        bottom: 70%;

        width: 13.9rem;
        height: 0.4rem;

        background-color: $white;
        transform: translate(-50%, -50%) rotate(120.61deg);
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: -7rem;

        width: 12.5rem;
        height: 12.5rem;

        background: $blue-605;
        filter: blur(5rem);
      }
    }
  }

  &__left {
    padding-top: 3.6rem;

    @media (min-width: 1439.99px) {
      position: relative;
      z-index: 10;

      padding-top: 13.4rem;
    }
  }

  &__right {
    position: relative;
    z-index: 10;

    @media (min-width: 1439.99px) {
      margin-right: 3rem;
      height: 66.7rem;
      min-width: 38.7rem;
    }
  }

  &__img-wrap {
    position: absolute;

    width: 16.1rem;
    padding-bottom: 32.299rem;

    @media (min-width: 1439.99px) {
      width: 33.288rem;
      padding-bottom: 66.78rem;
    }
  }

  &__promo {
    margin-bottom: 3.2rem;

    @include title-24;
    text-transform: uppercase;

    @media (min-width: 1439.99px) {
      margin-bottom: unset;

      @include fontz(3.5rem, 1.8, $white);
    }
  }

  &__download {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1439.99px) {
      position: relative;
      z-index: 10;

      justify-content: space-between;
      flex-direction: row;
    }
  }
}

.links-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.2rem;

  @media (min-width: 1439.99px) {
    flex-direction: row;
    column-gap: 2.7rem;
    max-width: 44rem;
    width: 100%;
  }

  &__img-wrap {
    position: relative;

    &--apple {
      width: 13.7rem;
      height: 3.4rem;
    }

    &--google {
      width: 15.8rem;
      height: 3.5rem;
    }
  }

  &__apple,
  &__google {
    display: block;
    width: 18.5rem;
    height: 6.2rem;

    border-radius: 0.8rem;
    border: 0.1rem solid $white;

    @media (min-width: 1439.99px) {
      height: 5.2rem;
    }
  }

  &__apple {
    padding: 1.4rem 2.5rem 1.4rem 2.4rem;

    @media (min-width: 1439.99px) {
      padding: 1rem 1.3rem;
      width: 16.5rem;
    }
  }

  &__google {
    padding: 1.3rem;

    @media (min-width: 1439.99px) {
      width: 18.5rem;
      padding: 0.6rem 1.2rem;
    }
  }
}
