@use '../../../assets/styles/internals/index';

.promo {
  display: none;

  @media (min-width: 1439.99px) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99.4rem;

    background: url('../../img/promo-desc-bg.png') 50% 0 no-repeat;

    &__img-wrap {
      position: relative;
      top: -2rem;

      width: 85.894rem;
      padding-bottom: 42.816rem;
      margin: 9rem auto 0;
    }
  }
}
