@use '../../../assets/styles/internals/index';

.qr {
  display: flex;
  flex-direction: column;
  padding-top: 26.2rem;
  margin-bottom: 10rem;

  background: url('../../img/qr-mb-bg.jpg') 50% 1.6% no-repeat;

  @media (min-width: 1439.99px) {
    padding-top: 23.7rem;
    margin-bottom: 17.1rem;

    background: top center url('../../img/qr-desc-bg.png') no-repeat;
  }
}

.code-qr {
  background: url('../../img/order-mb-bg.png') 100% 23% no-repeat;

  @media (min-width: 1439.99px) {
    background: none;
  }

  &__wrap {
    @media (min-width: 1439.99px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__left {
    @media (min-width: 1439.99px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 46rem;
      padding-top: 5rem;
      padding-left: 8rem;

      background: none;
    }
  }

  &__right {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20.4rem;
    margin-bottom: 8.2rem;
    row-gap: 5rem;

    @media (min-width: 1439.99px) {
      flex-direction: row;
      padding-top: unset;
      margin-bottom: unset;
      align-items: unset;
      column-gap: 3.8rem;

      background: none;
    }
  }

  &__title {
    margin-bottom: 2.4rem;

    @include title-24;

    @media (min-width: 1439.99px) {
      @include fontz(5.1rem, 1.215, $white);
    }
  }

  &__text {
    max-width: 31rem;
    margin-bottom: 4.8rem;

    @include text-16;
    letter-spacing: 0.06rem;

    @media (min-width: 1439.99px) {
      max-width: 29.7rem;
      margin-bottom: 5.5rem;

      @include fontz(1.8rem, 1.388, $white);
      letter-spacing: 0.06rem;
    }
  }

  &__img-wrap {
    position: relative;

    width: 28.098rem;
    height: 56.368rem;

    @media (min-width: 1439.99px) {
      width: 33.2rem;
      height: 66.8rem;
    }

    &--sign {
      width: 8.4rem;
      height: 4.6rem;
      margin-bottom: 3.8rem;
      align-self: flex-start;
    }

    &--order {
      margin: 0 auto 5rem;

      @media (min-width: 1439.99px) {
        margin: unset;
      }
    }

    &--cooking {
      margin: 0 auto 5rem;

      @media (min-width: 1439.99px) {
        position: relative;
        top: 34.1rem;

        margin: unset;
      }
    }
  }

  &__links {
    margin-bottom: 3.4rem;
  }
}

.generate-qr {
  display: flex;
  flex-direction: column;

  background: no-repeat url('../../img/generate-mb-bg.png') center 59% / contain;

  @media (min-width: 1439.99px) {
    position: relative;

    max-width: 144rem;
    width: 100%;
    padding-top: 35rem;
    margin: 0 auto;

    background: no-repeat url('../../img/generate-desc-bg.png') center 64% / contain;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;

      width: 102.245rem;
      height: 95.207rem;

      background: linear-gradient(12.08deg, $purple 2.82%, $blue-006 97.06%);
      opacity: 0.15;
      filter: blur(15.5784rem);
      border-radius: 47.6034rem;
      transform: translate(-50%, -50%) rotate(-0.55deg);
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__img-wrap {
    position: relative;

    width: 18.158rem;
    height: 36.428rem;
    margin: 0 auto;

    @media (min-width: 1439.99px) {
      left: 1rem;

      width: 33.256rem;
      height: 66.715rem;
    }
  }

  &__promo {
    @media (min-width: 1439.99px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__code {
    position: relative;
    padding-bottom: 8.5rem;
    order: 1;

    @media (min-width: 1439.99px) {
      order: unset;
      padding-top: 3.2rem;
    }
  }

  &__title {
    margin-bottom: 2.4rem;

    @include title-24;

    @media (min-width: 1439.99px) {
      max-width: 38.1rem;
      margin-bottom: unset;

      @include fontz(5.1rem, 1.215, $white);
    }
  }

  &__text {
    max-width: 26rem;
    margin-bottom: 7rem;

    @include text-16;
    letter-spacing: 0.05rem;

    @media (min-width: 1439.99px) {
      max-width: 29.2rem;
      margin-bottom: 1rem;

      @include fontz(1.8rem, 1.388, $white);
      letter-spacing: 0.02rem;
    }
  }

  &__notice {
    position: absolute;
    right: 5.4%;
    bottom: 0;

    @include fontz(1.8rem, 1.2, $white);
    font-family: 'Montserrat';
    font-weight: 700;

    @media (min-width: 1439.99px) {
      bottom: unset;
      top: 40.5%;
      right: 13%;

      @include fontz(2.1rem, 1.238, $white);
    }
  }

  &__arrow {
    position: absolute;
    bottom: 8%;
    right: 7.4%;

    width: 3.4rem;
    height: 10.2rem;

    @media (min-width: 1439.99px) {
      bottom: unset;
      top: 27.5%;
      right: 26.5%;

      transform: rotate(-37deg);
    }
  }
}
