@use '../../../assets/styles/internals/index';

.scanner {
  padding-top: 22.6rem;
  margin-bottom: 14.6rem;

  background: top center url('../../img/scanner-mb-bg.jpg') no-repeat;

  @media (min-width: 1439.99px) {
    padding-top: 44rem;
    margin-bottom: 20.4rem;

    background: top center url('../../img/scanner-desc-bg.jpg') no-repeat;
  }

  &__title {
    margin-bottom: 2.4rem;

    @include title-24;

    @media (min-width: 1439.99px) {
      margin-bottom: 2.1rem;

      @include fontz(5.1rem, 1.215, $white);
    }
  }

  &__text {
    @include text-16;
    letter-spacing: 0.03rem;

    @media (min-width: 1439.99px) {
      max-width: 31.6rem;

      @include fontz(1.8rem, 1.388, $white);
    }
  }

  &__img-wrap {
    position: relative;

    width: 28.708rem;
    padding-bottom: 57.593rem;

    @media (min-width: 1439.99px) {
      width: 33.3rem;
      padding-bottom: 66.8rem;
    }
  }

  &__right {
    padding-bottom: 6.9rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
    row-gap: 5.5rem;

    align-items: center;
    order: 1;

    @media (min-width: 1439.99px) {
      flex-direction: row;
      justify-content: space-between;
      order: unset;
      column-gap: 4.9rem;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;

    @media (min-width: 1439.99px) {
      flex-direction: row;
      justify-content: flex-start;
      column-gap: 12.8rem;
      align-items: flex-end;
    }
  }
}
