@use '../../../assets/styles/internals/index';

.touch {
  margin-bottom: 6.4rem;

  &__title {
    margin-bottom: 2.4rem;

    @include title-24;
    text-align: center;

    @media (min-width: 1439.99px) {
      @include fontz(5.1rem, 1.215, $white);
    }
  }

  &__text {
    max-width: 30.1rem;
    margin: 0 auto 4.9rem;

    @include text-16;
    text-align: center;

    @media (min-width: 1439.99px) {
      max-width: 50.8rem;
      margin-bottom: 8.2rem;

      @include fontz(1.8rem, 1.388, $white);
    }
  }

  &__form,
  &__wrap {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }

  &__wrap {
    @media (min-width: 1439.99px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: 2.4rem;
    }
  }

  &__form {
    margin-bottom: 7.4rem;

    @media (min-width: 1439.99px) {
      max-width: 81.8rem;
      margin: 0 auto 9.1rem;
    }
  }

  &__field {
    width: 100%;
    padding: 1.8rem 1.1rem;
    border: 0.1rem solid $grey-5c5;
    border-radius: 1rem;

    @media (min-width: 1439.99px) {
      padding: 2.9rem 2.3rem;

      @include fontz(1.8rem, 1.388, $black);
    }

    &::placeholder {
      @include text-16;
      color: $grey-bfb;

      @media (min-width: 1439.99px) {
        @include fontz(1.8rem, 1.388, $grey-bfb);
      }
    }

    &--message {
      margin-bottom: 4rem;
    }
  }

  &__btn {
    border: 0.1rem solid $white;
    border-radius: 1rem;
    padding: 2.6rem;

    @include title-24;
    text-align: center;

    background-color: transparent;
    transition: $anim;
    cursor: pointer;

    @media (min-width: 1439.99px) {
      max-width: 39.8rem;
      width: 100%;
      margin: 0 auto;
    }

    &:hover {
      border-color: $black;

      color: $black;
      font-weight: 700;

      background-color: $white;
    }
  }

  &__links {
    @media (min-width: 1439.99px) {
      max-width: 40rem;
      margin: 0 auto;
    }
  }

  &__promo {
    margin-bottom: 4.5rem;

    @include title-24;
    text-align: center;
  }
}
