@use '../../../assets/styles/internals/index';

.touch {
  margin-bottom: 6.4rem;

  @media (min-width: 1439.99px) {
    margin-bottom: 15rem;

    & .links-bar__img-wrap--apple {
      width: 23rem;
      height: 5.3rem;
    }

    & .links-bar__img-wrap--google {
      width: 26.5rem;
      height: 5.7rem;
    }

    & .links-bar__apple {
      height: 8rem;
      width: 25.8rem;
      border-radius: 1.3rem;
      padding: 1.6rem 1.3rem 1rem;
    }

    & .links-bar__google {
      width: 29rem;
      height: 8rem;
      padding: 1.2rem 1.2rem;
    }
  }

  &__title {
    margin-bottom: 2.4rem;

    @include title-24;
    text-align: center;

    @media (min-width: 1439.99px) {
      position: relative;
      z-index: 10;

      padding-top: 0.4rem;
      margin-bottom: 2.2rem;

      @include fontz(5.1rem, 1.215, $white);
      letter-spacing: 0.05rem;

      &:before {
        content: '';
        position: absolute;
        top: -9rem;
        left: 25rem;

        width: 24.704rem;
        height: 25.045rem;

        background: linear-gradient(12.08deg, $purple 2.82%, $blue-006 97.06%);
        opacity: 0.3;
        filter: blur(12.5rem);
        transform: rotate(5.78deg);
      }
    }
  }

  &__new-line {
    display: none;

    @media (min-width: 1439.99px) {
      display: block;
    }
  }

  &__text {
    position: relative;
    z-index: 10;

    max-width: 32rem;
    margin: 0 auto 4.8rem;

    @include text-16;
    text-align: center;
    letter-spacing: 0.04rem;

    @media (min-width: 1439.99px) {
      max-width: 59rem;
      margin-bottom: 8rem;

      @include fontz(1.8rem, 1.388, $white);
      letter-spacing: 0.05rem;
    }
  }

  &__form,
  &__wrap {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }

  &__wrap {
    @media (min-width: 1439.99px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: 2.4rem;
    }
  }

  &__form {
    margin-bottom: 7.4rem;

    @media (min-width: 1439.99px) {
      row-gap: 2.3rem;

      max-width: 81.8rem;
      margin: 0 auto 9.1rem;
    }
  }

  &__field {
    width: 100%;
    padding: 2.1rem 1.1rem 1.9rem;
    border: 0.1rem solid $grey-5c5;
    border-radius: 1rem;

    @media (min-width: 1439.99px) {
      padding: 2.9rem 2.5rem 2.7rem;

      @include fontz(1.8rem, 1.388, $black);
    }

    &::placeholder {
      @include text-16;
      color: $grey-bfb;

      @media (min-width: 1439.99px) {
        @include fontz(1.8rem, 1.388, $grey-bfb);
      }
    }

    &--message {
      min-height: 14rem;
      margin-bottom: 2.4rem;

      @media (min-width: 1439.99px) {
        min-height: unset;
        padding: 2.9rem 2.5rem 4.4rem;
        margin-bottom: 3.5rem;
      }
    }
  }

  &__btn {
    border: 0.1rem solid $white;
    border-radius: 1rem;
    padding: 2.6rem;

    @include title-24;
    text-align: center;

    background-color: transparent;
    transition: $anim;
    cursor: pointer;

    @media (min-width: 1439.99px) {
      max-width: 39.8rem;
      width: 100%;
      margin: 0 auto;
    }

    &:hover {
      border-color: $black;

      color: $black;
      font-weight: 700;

      background-color: $white;
    }
  }

  &__links {
    @media (min-width: 1439.99px) {
      max-width: 61rem;
      justify-content: space-between;
      margin: 0 auto;
    }
  }

  &__promo {
    margin-bottom: 4.2rem;

    @include title-24;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 1439.99px) {
      margin-bottom: 3.2rem;

      letter-spacing: -0.05rem;
    }
  }

  &__download {
    padding-top: 0.3rem;
  }
}
