@font-face {
  font-family: 'Avenir';
  src: local('avenir_medium'), url('../../fonts/avenir/avenir_medium.woff2') format('woff2'),
    url('../../fonts/avenir/avenir_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: local('avenir_black'), url('../../fonts/avenir/avenir_black.woff2') format('woff2'),
    url('../../fonts/avenir/avenir_black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('manrope_bold'), url('../../fonts/manrope/manrope_bold.woff2') format('woff2'),
    url('../../fonts/manrope/manrope_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: local('notosans_regular'), url('../../fonts/notosans/notosans_regular.woff2') format('woff2'),
    url('../../fonts/notosans/notosans_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: local('notosans_medium'), url('../../fonts/notosans/notosans_medium.woff2') format('woff2'),
    url('../../fonts/notosans/notosans_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: local('notosans_bold'), url('../../fonts/notosans/notosans_bold.woff2') format('woff2'),
    url('../../fonts/notosans/notosans_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('montserrat_bold'), url('../../fonts/montserrat/montserrat_bold.woff2') format('woff2'),
    url('../../fonts/montserrat/montserrat_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('roboto_regular'), url('../../fonts/roboto/roboto_regular.woff2') format('woff2'),
    url('../../fonts/roboto/roboto_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('roboto_medium'), url('../../fonts/roboto/roboto_medium.woff2') format('woff2'),
    url('../../fonts/roboto/roboto_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('roboto_bold'), url('../../fonts/roboto/roboto_bold.woff2') format('woff2'),
    url('../../fonts/roboto/roboto_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('sf-pro-display_semibold'), url('../../fonts/sf-pro-display/sf-pro-display_semibold.woff2') format('woff2'),
    url('../../fonts/sf-pro-display/sf-pro-display_semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('sf-pro-display_bold'), url('../../fonts/sf-pro-display/sf-pro-display_bold.woff2') format('woff2'),
    url('../../fonts/sf-pro-display/sf-pro-display_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('sf-pro-text_regular'), url('../../fonts/sf-pro-text/sf-pro-text_regular.woff2') format('woff2'),
    url('../../fonts/sf-pro-text/sf-pro-text_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('sf-pro-text_medium'), url('../../fonts/sf-pro-text/sf-pro-text_medium.woff2') format('woff2'),
    url('../../fonts/sf-pro-text/sf-pro-text_medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('sf-pro-text_semibold'), url('../../fonts/sf-pro-text/sf-pro-text_semibold.woff2') format('woff2'),
    url('../../fonts/sf-pro-text/sf-pro-text_semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
